---
import { ViewTransitions } from 'astro:transitions';

---

<html>
    <head>
        <ViewTransitions />
    </head>
  <body>
    <div class="max-w-md mx-auto flex flex-col gap-4 py-12">
        <slot />
    </div>
  </body>
      <script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
<script src="https://files.bpcontent.cloud/2024/10/10/10/20241010103729-6L49Y1FR.js"></script>
</html>