---
import { ViewTransitions } from 'astro:transitions';
import Chat from '../components/chat.astro';

const { bot, client } = Astro.props;

---

<html>
    <head>
        <ViewTransitions />
    </head>
  <body>
    <div class="max-w-md mx-auto flex flex-col gap-4 py-12">
        <slot />
    </div>
  </body>
      <script is:inline src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
      <Chat />
</html>